@charset "UTF-8";

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

:root {
    --Lightred: hsl(0, 100%, 67%);
    --Orangeyyellow: hsl(39, 100%, 56%);
    --Greenteal: hsl(166, 100%, 37%);
    --Cobaltblue: hsl(234, 85%, 45%);

    --Lightslateblue: hsl(252, 100%, 67%);
    --Lightroyalblue: hsl(241, 81%, 54%);

    --Violetblue: hsla(256, 72%, 46%, 1);
    --Persianblue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(0, 7%, 76%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk';
}

body {
    height: 100vh;
    max-width: 100vw;
    min-width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    font-size: 18px;
    box-shadow: 10px 10px 10px rgb(150, 150, 150);
    border-radius: 30px;
    margin-bottom: 30px;
}

section h2 {
    font-size: 20px;
    font-weight: 800;
}

section.left {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-image: linear-gradient(to bottom, var(--Lightslateblue), var(--Lightroyalblue));
    align-items: center;
    border-radius: 30px;
    text-align: center;
}

section.left h2 {
    margin-bottom: 30px;
    color: var(--Paleblue);
}

section.left .circle {
    width: 182px;
    height: 182px;
    background-image: linear-gradient(to bottom, var(--Violetblue),
    var(--Persianblue));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

section.left .circle span {
    display: block;
}

section.left .circle #big {
    font-size: 73px;
    color: var(--White);
    font-weight: 800;
}

section.left .circle #small {
    color: var(--Lightlavender);
}

section.left h3 {
    font-size: 30px;
    color: var(--White);
    font-weight: 600;
    margin-bottom: 20px;
}

section.left p {
    color: var(--Paleblue);
    width: 260px;
}

section.right {
    padding: 30px;
    width: 300px;
}

section.right h2 {
    margin-bottom: 30px;
}

section.right .icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
}

section.right .icons .icon {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
}

section.right .icons #red {
    color: var(--Lightred);
    background-color: hsla(0, 100%, 67%, 0.219);
}

section.right .icons #yellow {
    color: var(--Orangeyyellow);
    background-color: hsla(39, 100%, 56%, 0.205);
}

section.right .icons #green {
    color: var(--Greenteal);
    background-color: hsla(166, 100%, 37%, 0.205);
}

section.right .icons #blue {
    color: var(--Cobaltblue);
    background-color: hsla(234, 85%, 45%, 0.219);
}

section.right .icons span{
    display: inline-block;
    font-weight: 800;
}

section.right .icons .text {
    color: hsl(0, 0%, 51%);
}

section.right .icons .text > span {
    color: var(--Darkgrayblue);
}

section.right button {
    width: 100%;
    background-color: var(--Darkgrayblue);
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    color: var(--White);
    font-weight: 700;
}

section.right button:hover {
    background-image: linear-gradient(to bottom, var(--Violetblue), var(--Lightroyalblue));
}

@media (max-width: 730px) {
    body {
        display: block;
        height: 809px;
    }

    main {
        max-height: 809px;
        width: 100vw;
        flex-direction: column;
        border-radius: 0px;
        box-shadow: none;
    }

    section.left {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    section.left p {
        width: 100%;
    }

    section.right {
        width: auto;
    }

    section.right button:hover {
        background-color: var(--Darkgrayblue);
        background-image: none;
    }

    section.right button:active {
        background-image: linear-gradient(to bottom, var(--Violetblue), var(--Lightroyalblue));
    }

    footer {
        display: none;
    }
}