@charset "UTF-8";

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf');
}

:root {
    --Yellow: #F4D04E;
    --White: #FFFFFF;
    --Gray500: #6B6B6B;
    --Gray950: #111111;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Figtree';
}

body {
    max-width: 1440px;
    min-width: 375px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Yellow);
}

main {
    height: 474px;
    width: 336px;
    margin-bottom: 30px;
    padding: 24px;
    background-color: var(--White);
    border-radius: 20px;
    box-shadow: 8px 8px #000000;
}

div.img img {
    height: 200px;
    width: 336;
    margin-bottom: 24px;
    border-radius: 10px;
}

div.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
    color: var(--Gray950);
}

div.content span {
    display: inline-block;
    font-weight: 800;
    background-color: var(--Yellow);
    padding: 4px 12px;
    border-radius: 4px;
    width: 70px;
}


div.content h1{
    font-size: 24px;
    font-weight: 800;
}

div.content #text {
    color: var(--Gray500);
    font-size: 16px;
}

